<div class="container" *ngIf="editSkill">
    <form (ngSubmit)="onUpdate()" novalidate>
        <!--DATOS-->
        <div class="form-control">
            <label for="nombreSkill" class="col-form-label">Nombre Skill: </label>
            <input type="text" class="form-control" [(ngModel)]="editSkill.nombreSkill" name="nombreSkill" required>
        </div>
        <div class="form-control">
            <label for="porcentaje" class="col-form-label">Porcentaje: </label>
            <input type="text" class="form-control" [(ngModel)]="editSkill.porcentaje" name="porcentaje" required>
        </div>
        <div class="form-control">
            <label for="logo" class="col-form-label">Logo: </label>
            <input type="file" class="form-control text-nowrap text-truncate" (change)="selectFile($event)" accept=".jpeg, .jpg, .png">
        </div>
        <div class="progress mt-2" *ngIf="img">
            <div class="progress-bar progress-bar-info" 
                    role="progressbar" 
                    attr.aria-valuenow="{{ percentage }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: percentage + '%' }">
                {{percentage}}%
            </div>
        </div>
        <br>
        <!--BOTONES-->                
        <div class="col-auto">
            <button type="button" class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">Upload</button>            
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!(percentage === 100)">Actualizar</button>
        </div>    
    </form>
</div>