#tituloedit{
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn{
    margin-top: 5%;
    margin-bottom: 5%;
}
.progress{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}