<div class="container" *ngIf="editEducacion"><!---->
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate >
                <div class="form-control">
                    <label for="nombreInstitucion" class="col-form-label">Nombre Institucion: </label>
                    <input type="text" class="form-control" [(ngModel)]="editEducacion.nombreInstitucion" 
                    name="nombreInstitucion" required>
                </div>
                <div class="form-control">
                    <label for="titulo" class="col-form-label">Titulo: </label>
                    <input type="text" class="form-control" [(ngModel)]="editEducacion.titulo" 
                    name="titulo" required>
                </div>
                <div class="form-control">
                    <label for="fechaDeIngreso" class="col-form-label">Fecha de Ingreso: </label>
                    <input type="text" class="form-control" [(ngModel)]="editEducacion.fechaDeIngreso"
                        name="fechaDeIngreso" required>
                </div>
                <div class="form-control">
                    <label for="fechaDeEgreso" class="col-form-label">Fecha de Egreso: </label>
                    <input type="text" class="form-control" [(ngModel)]="editEducacion.fechaDeEgreso" 
                    name="fechaDeEgreso" required>
                </div>
                <div class="form-control">
                    <label for="ciudad" class="col-form-label">Ciudad: </label>
                    <input type="text" class="form-control" [(ngModel)]="editEducacion.ciudad" 
                    name="ciudad" required>
                </div>
                <div class="form-control">
                    <label for="pais" class="col-form-label">Pais: </label>
                    <input type="text" class="form-control" [(ngModel)]="editEducacion.pais" 
                    name="pais" required>
                </div>
                <div class="form-control">
                    <label for="logo" class="col-form-label">
                        <input class="form-check-input mt-0" type="checkbox" value="" (change)="chekboxChange()" aria-label="Checkbox for following text input">                
                        Logo: </label>
                    <input type="file" class="form-control text-nowrap text-truncate" (change)="selectFile($event)" accept=".jpeg, .jpg, .png">
                </div>
                <div class="progress mt-2" *ngIf="img">
                    <div class="progress-bar progress-bar-info" 
                            role="progressbar" 
                            attr.aria-valuenow="{{ percentage }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: percentage + '%' }">
                        {{percentage}}%
                    </div>
                </div>
                <br>
                <!--BOTONES-->                
                <div class="col-auto">
                    <button type="button" class="btn btn-success btn-sm"  [hidden]="checkbox === false" [disabled]="!selectedFiles" (click)="upload()" (click)="chekboxChange()">Upload</button>            
                    <button type="submit" class="btn btn-primary btn-sm" [disabled]="(checkbox === true)">Actualizar</button>
                </div>   
            </form>
        </div>
    </div>
</div>