

<div id="fondocolor" class="border border-dark" >
    <!--CARROUSEL-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" id="banner">
          <div class="carousel-item active">
            <img src="../../../assets/programacion1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/programacion2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/programacion3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="row">
        <div class="col-1"></div> 
        <div class="col-auto">
            <h1 id="tituloedit">Informacion</h1>
        </div>
        <div class="col-auto" *ngIf="isLogged">
            <button type="button" class="btn btn-outline-dark" routerLink="/newAcercaDe">
                <span class="spinner-grow spinner-grow-sm text-success" role="status" aria-hidden="true"></span>
                <i class="bi bi-clipboard-plus"></i>
                Nuevo Perfil
                <!--*ngIf="isLogged"-->
              </button>
        </div>
    </div>

    <!--ACERCA DE-->
    <div class="row d-flex justify-content-evenly" *ngFor="let persona of personas">
        <div class="col-auto" id="perfilfoto"  ><!--FOTO-->
            <img src={{persona.foto}} class="img-fluid shadow-lg rounded" alt="fotodeperfil" >
        </div>
        <div class="col-auto"><!--DATOS-->
            <ul class="list-group-flush">
                <li class="list-group-item">
                    <h3 id="nombre">{{persona.nombre}}</h3>
                </li>
                <li class="list-group-item">
                    <h3 id="nombre">{{persona.apellido}}</h3>
                </li>
                <li class="list-group-item">
                    {{persona.titulo}}
                </li>
                <li class="list-group-item">
                    <small class="text-muted">{{persona.ciudad}} - {{persona.pais}}</small>
                </li>
            </ul>
        </div>
        <div class="col-auto"><!--ACERCA DE-->
            <h3 id="nombre">Sobre Mi</h3>
          <p>{{persona.sobreMi}}</p>
        </div>
        <div class="col-auto" *ngIf="isLogged"><!--BOTON EDICION-->
            <button type="button" class="btn btn-outline-dark" routerLink="/editAcer/{{persona.id}}"><!--*ngIf="isLogged"-->
              <span class="spinner-grow spinner-grow-sm text-warning" role="status" aria-hidden="true"></span>
                <i class="bi bi-pencil-square"></i> Editar
              </button>
              <button type="buttom" class="btn btn-outline-dark" (click)="delete(persona.id, persona.foto)">
                <span class="spinner-grow spinner-grow-sm text-danger" role="status" aria-hidden="true"></span>
                <i class="bi bi-x"></i> Eliminar
            </button>
        </div>

    </div>
</div>

