<nav class="navbar border border-dark" id="barraborde">
    <div class="container-fluid" routerLinkActive="active">
      <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"  id="logoColor">
        <div class="row" >
          <div class="col">
          <img src="../../../assets/logo.png" alt="logoArgentinaPrograma" width="60" height="50">
          </div>
          <div class="col">
            <strong>Argentina<br>Programa</strong>
          </div>
        </div>     
      </a>
      <div class=" justify-content-md-end"  aria-label="Basic example">
        <!--github-->
        <a href="https://github.com/LINKANAY">
          <button type="button" class="btn btn-outline-info" >
            <i class="bi bi-github"></i>
          </button>
        </a>
        <!--linkelin-->
        <a href="">
          <button type="button" class="btn btn-outline-info">
            <i class="bi bi-linkedin"></i>
          </button>
        </a>
        <button type="button" class="btn btn-outline-info" *ngIf="!isLoggedIn">
            <a href="#" class="nav-link" routerLink="/login">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </a>          
        </button>
        <button type="button" class="btn btn-outline-info" (click)="onLogOut()" *ngIf="isLoggedIn">
          <i class="bi bi-box-arrow-in-left"></i> Logout
        </button>
      </div>      
    </div>
  </nav>
  <app-acercade></app-acercade>