<div class="container" >
    <form (ngSubmit)="onCreate()" novalidate>
        <!--DATOS-->
        <div class="form-control">
            <label for="nombreProyecto" class="col-form-label">Nombre Proyecto: </label>
            <input type="text" class="form-control" [(ngModel)]="nombreProyecto" name="nombreProyecto" required>
        </div>
        <div class="form-control">
            <label for="descripcion" class="col-form-label">Descripcion: </label>
            <input type="text" class="form-control" [(ngModel)]="descripcion" name="descripcion" required>
        </div>
        <div class="form-control">
            <label for="url" class="col-form-label">Url Proyecto: </label>
            <input type="text" class="form-control" [(ngModel)]="url" name="url" >
        </div>
        <div class="form-control">
            <label for="img" class="col-form-label">
                <input class="form-check-input mt-0" type="checkbox" value="" (click)="chekboxChange()" aria-label="Checkbox for following text input">
                Imagen: </label>
            <input type="file" class="form-control text-nowrap text-truncate" (change)="selectFile($event)" accept=".jpeg, .jpg, .png">
        </div>
        <div class="progress mt-2" *ngIf="image">
            <div class="progress-bar progress-bar-info" 
                    role="progressbar" 
                    attr.aria-valuenow="{{ percentage }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: percentage + '%' }">
                {{percentage}}%
            </div>
        </div>
        <br>
        <!--BOTONES-->                
        <div class="col-auto">
            <button type="button" class="btn btn-success btn-sm" [hidden]="checkbox === false" [disabled]="!selectedFiles" (click)="upload()" (click)="chekboxChange()">Upload</button>            
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="(checkbox === true)">Crear</button>
        </div>    
    </form>
</div>