#tituloedit{
    margin-left: 5%;
}

.btn{
  margin-top: 5%;
  margin-bottom: 5%;
}

#cont{
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
#espacio{
  margin-top: 2%;
}
.card{
  background-color: rgb(188, 198, 127);  
  overflow: hidden;
}
.distancia{
  max-height: 200px;
  object-fit: contain;
  background-color: lightpink;
}