#tituloedit{
    margin-left: 5%;
}
#proyec{
  background-color: rgb(156, 218, 218) ;
  border-radius: 0.5rem;
}  
.btn{
  margin-top: 5%;
  margin-bottom: 5%;
}

#cont{
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}
#espacio{
  margin-top: 2%;
}